.contato {
    align-items: center;
    margin-top: 50vh;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 200px;
}

.title-contato {
    text-align: center;
}

.contact-form {
    align-items: center;
    justify-self: center;

}

#name {
    height: 50px;
    width: 900px;
    border-radius: 50px;
    background-color: rgb(246, 246, 246);
    border: none;
    text-align: center;
    color: black;
}

#email {
    height: 50px;
    width: 900px;
    border-radius: 50px;
    background-color: rgb(246, 246, 246);
    border: none;
    text-align: center;
    color: black;
}

#subject {
    height: 50px;
    width: 900px;
    border-radius: 50px;
    background-color: rgb(246, 246, 246);
    border: none;
    text-align: center;
    color: black;
}

#message {
    height: 50px;
    width: 900px;
    border-radius: 50px;
    background-color: rgb(246, 246, 246);
    border: none;
    text-align: center;
    justify-content: center;
    color: black;
}

.btn-contato {
    margin-top: 10px;
    padding: 20px;
    border-radius: 55px;
    font-weight: bold;
    background-color: black;
    border: none;
    position: absolute;
    left: 47%;
    color: white;
}

@media (max-width: 992px) {
    .contato {
        align-items: center;
        margin-top: 0vh;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 200px;
    }

    #name {
        height: 50px;
        width: auto;
        border-radius: 50px;
        background-color: rgb(246, 246, 246);
        border: none;
        text-align: center;
        color: black;
    }

    #email {
        height: 50px;
        width: auto;
        border-radius: 50px;
        background-color: rgb(246, 246, 246);
        border: none;
        text-align: center;
        color: black;
    }

    #subject {
        height: 50px;
        width: auto;
        border-radius: 50px;
        background-color: rgb(246, 246, 246);
        border: none;
        text-align: center;
        color: black;
    }

    #message {
        height: 50px;
        width: 180px;
        border-radius: 50px;
        background-color: rgb(246, 246, 246);
        border: none;
        text-align: center;
        justify-content: center;
        color: black;
    }

    .btn-contato {
        margin-top: 10px;
        padding: 20px;
        border-radius: 55px;
        font-weight: bold;
        background-color: black;
        border: none;
        position: absolute;
        left: 40%;
        color: white;
    }
}



@media (max-width: 576px) {
    .contato {
        align-items: center;
        margin-top: 0vh;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 200px;
    }

    #name {
        height: 50px;
        width: auto;
        border-radius: 50px;
        background-color: rgb(246, 246, 246);
        border: none;
        text-align: center;
        color: black;
    }

    #email {
        height: 50px;
        width: auto;
        border-radius: 50px;
        background-color: rgb(246, 246, 246);
        border: none;
        text-align: center;
        color: black;
    }

    #subject {
        height: 50px;
        width: auto;
        border-radius: 50px;
        background-color: rgb(246, 246, 246);
        border: none;
        text-align: center;
        color: black;
    }

    #message {
        height: 50px;
        width: 180px;
        border-radius: 50px;
        background-color: rgb(246, 246, 246);
        border: none;
        text-align: center;
        justify-content: center;
        color: black;
    }

    .btn-contato {
        margin-top: 10px;
        padding: 20px;
        border-radius: 55px;
        font-weight: bold;
        background-color: black;
        border: none;
        position: absolute;
        left: 40%;
        color: white;
    }

}