.depoimento {
    align-items: center;
    margin-top: 50vh;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 200px;
}

.dep-title {
    text-align: center;
}

.dep-1-2 {
    display: flex;
    margin-top: 50px;
    text-align: justify;
    gap: 50px;
    width: 600px;
    justify-self: center;
}

.dep-3-4 {
    display: flex;
    margin-top: 50px;
    text-align: justify;
    gap: 50px;
    width: 600px;
    justify-self: center;
}

@media (max-width: 992px) {
    .depoimento {
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10vh;
    }

    .dep-1-2 {
        display: block;
        margin-top: 50px;
        text-align: justify;
        width: auto;
        justify-self: center;
    }

    .dep-3-4 {
        display: block;
        margin-top: 0px;
        text-align: justify;
        width: auto;
        justify-self: center;
    }
}



@media (max-width: 576px) {
    .depoimento {
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .dep-1-2 {
        display: block;
        margin-top: 50px;
        text-align: justify;
        width: auto;
        justify-self: center;
    }

    .dep-3-4 {
        display: block;
        margin-top: 0px;
        text-align: justify;
        width: auto;
        justify-self: center;
    }

}

.btn-area {
    margin-top: 50px;
    padding: 20px;
    border-radius: 55px;
    font-weight: bold;
    background-color: black;
    border: none;
    position: absolute;
    left: 23%;
}

.areas-txt {
    margin-bottom: 20px;
}