.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30vh;
    margin-left: 80px;
    margin-right: 80px;
}

.logo-inicio {
    width: 649px;
    height: 139px;
}

.txt {
    font-size: 24px;
    width: 580px;
}

.txt span {
    font-size: 35px;
    font-weight: bold;
}

.btn-inicio {
    padding: 20px;
    border-radius: 55px;
    font-weight: bold;
    background-color: black;
    border: none;
}

.btn-inicio:hover {
    background-color: rgb(139, 139, 139);
}

.link-inicio {
    text-decoration: none;
    color: white;
}

@media (max-width: 992px) {
    .inicio {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        align-items: center;

    }

    .logo-inicio {
        display: none;
    }

    .txt {
        font-size: auto;
        width: auto;
        align-items: center;
        text-align: center;
    }

    .txt span {
        font-size: 25px;
        font-weight: bold;
    }

    .btn-inicio {
        padding: 20px;
        border-radius: 55px;
        font-weight: bold;
        background-color: black;
        border: none;
        margin-top: 50px;
        margin-left: 23%;
    }
}

.btn-inicio:hover {
    background-color: rgb(139, 139, 139);
}

.link-inicio {
    text-decoration: none;
    color: white;
}

@media (max-width: 576px) {
    .inicio {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        align-items: center;

    }

    .logo-inicio {
        display: none;
    }

    .txt {
        font-size: auto;
        width: auto;
        align-items: center;
        text-align: center;
    }

    .txt span {
        font-size: 25px;
        font-weight: bold;
    }

    .btn-inicio {
        padding: 20px;
        border-radius: 55px;
        font-weight: bold;
        background-color: black;
        border: none;
        margin-top: 50px;
        margin-left: 23%;
    }
}

.btn-inicio:hover {
    background-color: rgb(139, 139, 139);
}

.link-inicio {
    text-decoration: none;
    color: white;
}