.sobre {
    justify-content: space-between;
    align-items: center;
    margin-top: 50vh;
    margin-left: 80px;
    margin-right: 80px;
}

.sobre-txt {
    display: flex;
    gap: 360px;
    align-items: center;
    justify-content: space-between;
}

.sobre-description {
    width: 700px;
    text-align: justify;
}

.btn-sobre {
    position: absolute;
    right: 0;
    margin-right: 100px;
    padding: 0px;
    font-size: 51px;
    border: none;
    background-color: transparent;
}

.link-sobre {
    color: black;
}

@media (max-width: 992px) {
    .sobre {
        justify-content: space-between;
        align-items: center;
        margin-top: 50vh;
        margin-left: 10px;
        margin-right: 10px;
    }

    .sobre-txt {
        display: block;
        gap: 150px;
        align-items: center;
    }

    .sobre-title {
        font-size: medium;
    }

    .sobre-description {
        width: 370px;
        text-align: justify;
    }

    .sobre-img {
        width: 100%;
    }
}



@media (max-width: 576px) {
    .sobre {
        justify-content: space-between;
        align-items: center;
        margin-top: 50vh;
        margin-left: 10px;
        margin-right: 10px;
    }

    .sobre-txt {
        display: block;
        gap: 150px;
        align-items: center;
    }

    .sobre-title {
        font-size: medium;
    }

    .sobre-description {
        width: 370px;
        text-align: justify;
    }

    .sobre-img {
        width: 100%;
    }
}